.logo {
  display: flex; /*pesquisar display flexbox otavio miranda*/
  align-content: center;
  justify-content: center;
  gap: 2.4rem; /*24px*/
  padding-top: 3.2rem;
}

.logoLink {
  /*cameCase para ser chamado no componente dessa forma styles.logoLink*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem; /*4px*/
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
}

.logoLink svg {
  /* compnente TimerIcon vira svg*/
  width: 6.4rem;
  height: 6.4rem; /*64px*/
}
