.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 1.6rem;
}

.footer a {
  text-decoration: none;
  color: var(--text-muted);
}

.footer a:hover {
  text-decoration: underline;
  color: var(--text-muted);
}
